{% extends 'base.html' %} {% block content %}


<h2>List products by category</h2>

<!-- Searchfield by category to add -->
<br>
<h3>Categories:</h3>
<ul>
  {% for product in products %}
    <li>{{ product.category }}</li>
  {% empty %}
    <li>No products found.</li>
  {% endfor %}
</ul>



<form method="get" action=".">
  <input type="text" name="category" placeholder="Search category">
  <button type="submit">filter</button>
  <button type="button" onclick="window.location.href='{% url 'shop:product-list' %}'">clean filter</button>
</form>



<br>
<table>
  <tr>
    <th> ID</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity:</th>
    <th>Action</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.description }}</td>
    <td>€{{ product.price }}</td>
    <td>
    <!--div class ="col-md-2">Quantity:</div>-->
    <select class="form-select" name="product_qty" data-product-id="{{ product.id }}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    <td>
      <a href="{% url 'shop:product_detail' product.pk %}"><button>Product Details</button></a>
      <!--<a href="{% url 'cart:cart' %}"><button type="button" value="{{ product.id }}" id="add-cart"> CART</button></a>-->
      <button type="button" class="add-to-cart-btn" data-product-id="{{ product.id }}">Add to CART</button>
    </td>
  </tr>
  {% endfor %}
</table>

<script>
$(document).on('click', '.add-to-cart-btn', function(e){
  e.preventDefault();

  const productId = $(this).data('product-id'); 
  const qty = $(this).closest('tr').find('select[name="product_qty"]').val();

  $.ajax({
    type: 'POST',
    url: "{% url 'cart:cart_add' %}", 
    data: {
      product_id: productId,
      product_qty: qty,
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
      $('#cart_quantity').text(json.qty);
      // KEIN Alert oder Pop-up hier
    },
    error: function(xhr, errmsg, err){
      console.log('Fehler beim Hinzufügen zum Warenkorb:', errmsg);
    },
  });
});

</script>



{% endblock %}

