{% extends 'base.html' %} {% block content %}

{% if not category %}
  <h1>All Products</h1>
{% else %}
  <h1>Category: {{ category.name }}</h1>
  <a href="{% url 'shop:product-list' %}" class="button"><button>Remove Filter</button></a>
  &nbsp;&nbsp;
  <a href="{% url 'shop:category_summary' %}" class="button"><button>View Categories</button></a>
{% endif %}
<hr/>

<div class="form-floating">
  <input type="text" id="txt_search" class="form-control" placeholder="Enter search..." onkeyup="searchProducts() "/>
  <label for="txt_search" class="form-label">Search Product</label>
</div>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
  </tr>
  {% for product in products %}
  <tr>
    <td class="product-image-column"><img class="product-image" src="{{ product.product_images.first.picture.url }}" alt="No images found..."/></td>
    <td>{{ product.name }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.description }}</td>
    <td>
      {% if product.sale_price %}
        <div style="color:darkred;font-weight:bold">Sale</div>
        <strike>€ {{ product.price }}</strike>&nbsp;€ {{ product.sale_price }}
      {% else %}
        € {{ product.price }}
      {% endif %}
    </td>
    <td><a href="{% url 'shop:product_detail' product.pk %}"><button>Details</button></a></td>
    <td>
      <select class="form-select qty-cart" name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </td>
    <td><button class="button add-to-cart-button" type="button" value="{{ product.id }}">Add to Cart</button></td>
  </tr>
  {% endfor %}
</table>

<script>
  // Check if button pressed
  $('.add-to-cart-button').click(function(e) {

    e.preventDefault();  // Prevent default form submission behavior
    $.ajax({  // do a hidden postback to the url(view) below
      type: 'POST',
      url: '{% url 'cart:cart_add' %}',
      data: {
        product_id: $(this).val(),  // get value of button that triggered the event
        product_qty: $(this).closest('tr').find('.qty-cart option:selected').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json) {
        //console.log(json)
        document.getElementById("cart_quantity").
          textContent = json.qty
      },
      error: function(xhr, errmsg, err) {
        console.log(errmsg);
      }
    });
  }
  )

  function searchProducts(){
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("txt_search");
    filter = input.value.toUpperCase();
    table = document.getElementsByTagName("table")[0];
    tr = table.getElementsByTagName("tr");
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>

{% endblock %}

