{% extends 'base.html' %} {% block content %}

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
  </tr>
  {% for product in products %}
  <tr>
    <td class="product-image-column"><img class="product-image" src="{{ product.product_images.first.picture.url }}" alt="No images found..."/></td>
    <td>{{ product.name }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.description }}</td>
    <td>
      {% if product.sale_price %}
        <div style="color:darkred;font-weight:bold">Sale</div>
        <strike>€ {{ product.price }}</strike>&nbsp;€ {{ product.sale_price }}
      {% else %}
        € {{ product.price }}
      {% endif %}
    </td>
    <td><a href="{% url 'shop:product_detail' product.pk %}"><button>Details</button></a></td>
    <td>
      <select class="form-select qty-cart" name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </td>
    <td><button class="button add-to-cart-button" type="button" value="{{ product.id }}">Add to Cart</button></td>
  </tr>
  {% endfor %}
</table>

<script>
  // Check if button pressed
  $('.add-to-cart-button').click(function(e) {

    e.preventDefault();  // Prevent default form submission behavior
    $.ajax({  // do a hidden postback to the url(view) below
      type: 'POST',
      url: '{% url 'cart:cart_add' %}',
      data: {
        product_id: $(this).val(),  // get value of button that triggered the event
        product_qty: $(this).closest('tr').find('.qty-cart option:selected').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json) {
        //console.log(json)
        document.getElementById("cart_quantity").
          textContent = json.qty
      },
      error: function(xhr, errmsg, err) {
        console.log(errmsg);
      }
    });
  }
  )

</script>

{% endblock %}


      {% comment %} <!--<form method="post" action="{%  %}">
        {% csrf_token %}-->
      <!--shop:add_to_cart product.id-->
      <!--</form>-->   {% endcomment %}