{% extends 'base.html' %} {% block content %}
<h2>Available Products</h2>

<!-- Searchfield by category to add -->

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Price</th>
    <th>Add to CART</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.description }}</td>
    <td>€{{ product.price }}</td>
    <td>
      {% comment %} <form method="post" action="{% url 'shop:add_to_cart' product.id %}">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
      </form>  {% endcomment %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
