{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Shop {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
    <h1>DCI-Python-Shop</h1>
    <nav>
    <a href="/">Home</a>
    <a href="/cart/">cart</a>
    <a href="/orders/">orders</a>
    <a href="/payments/">payments</a>
    {% comment %} <a href="{% url 'users:logout' %}">Logout</a> {% endcomment %}
    </nav>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>