{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Shop {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <header>
      <h1>DCI-Python-Shop</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/cart/">cart</a>
        <a href="/orders/customer_orders/">orders</a>
        <a href="/payments/customer_payments">payments</a>
        <a href="/shop/product-list/">shop</a>
        <a href="{% url 'users:logout' %}">Logout</a>
      </nav>
    </header>
    <br><br>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
