{% extends 'base.html' %} 
{% block title %} My Orders {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>{{ user.first_name }}'s orders overview:</h2>
    {% endif %}
    
    {% if orders %}
        <table>
        <thead>
            <tr>
            <th>Order-ID</th>
            <th>Customers email</th>
            <th>Customers-ID</th>
            <th>Order date</th>
            <th>Order quantity</th>
            <th>Total price</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.customer.id }}</td>
            <td>{{ order.created|date:"d.m.Y H:i" }}</td>
            <td>{{ order.total_items }}</td>
            <td>{{ order.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>No orders found</p>
        {% endif %}
{% endblock %} 